body {
    font-family: 'Roboto', sans-serif;
    background-color: #000000;
    color: #0e0e0e;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3rem;
}

.container {
    background-color: white;
    width: 90%;
    max-width: 500px;
    border-radius: 20px;
    box-shadow: 0px 10px 10px rgba(255, 255, 255, 255);
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.container-input {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    flex-wrap: wrap;
}

#input-new-task,
#btn--new--task {
    background-color: #1e1e1e;
    color: white;
    border: none;
    font-size: 1rem;
    outline: none;
    padding: 1rem;
}

#input-new-task {
    border-radius: 20px;
    flex: 1;
    min-width: 200px;
}

#btn--new--task {
    border-radius: 100%;
    width: 50px;
    height: 50px;
    cursor: pointer;
    transition: 0.3s;
    display: flex;
    align-items: center;
    justify-content: center;
}

#btn--new--task:hover {
    background-color: #000000;
}

#to-do-list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

li {
    border-radius: 12px;
    padding: 10px;
    font-size: 1.2rem;
    text-transform: capitalize;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);

    /* Para animação do background */
    background-image: linear-gradient(to right, #030303 0%, #2c2c2c 100%);
    background-repeat: no-repeat;
    background-size: 0% 100%;  /* começa escondido */
    transition: background-size 1s ease;
    color: #000000;
}

li:hover {
    background-size: 100% 100%;  /* expande da esquerda pra direita */
    color: white; /* opcional, para melhorar contraste */
    cursor: pointer;
}

.btn-ok {
    background-color: #000000;
    border: none;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: 0.3s;
}

.btn-ok:hover {
    background-color: #181818;
}

.btn-ok svg {
    fill: white;
}



