    * {
            margin: 0;
            padding: 0;
        }

        body {
            text-align: center;
        }

        .calculadoura {
            background-color: gray;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            border-radius: 20px;
            padding: 15px;
        }

        .botao {
            width: 50px;
            height: 50px;
            cursor: pointer;
            border-radius: 5px;
            border: none;
            font-size: 18px;
        }

        .botao:hover {
            background-color: rgb(184, 184, 184);
        }

        #resultado {
            border: none;
            outline: none;
            padding: 10px;
            border-radius: 10px;
            text-align: right;
            font-size: 20px;
        }